/* Container for Profile Card */
.profile-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Profile Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    height: auto;
}

.card .title {
    color: grey;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: #4CAF50;
    margin: 0 10px;
}

.card a:hover {
    opacity: 0.7;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card button:hover {
    background-color: #45a049;
}
